<%- include("header") -%>
  <!--   <% if (listTitle ==="Friday! why are you working?1ðŸ˜ðŸ¤ºðŸ§—ðŸ‘«"){ %>
        <h1 style="color: purple;"> Hi buddy it's <%= listTitle %> </h1>
        <h2 style="color: purple;">To do list</h2>
    <% } else { %>
        <h1 style="color: blue;"> Hi buddy it's <%= listTitle %> </h1>
        <h2 style="color: blue;">To do list</h2>   
    <% } %> -->
    <h2 class="about">Hi <%=  reqname %></h2>
    <div class="box" id="heading">
        <h1><%= listTitle %></h1>
    </div>
    
    <div class="box">
        
            <% for(var i = 0; i< listofitems.length; i++){ %>
                <form action="/delete" method="post">
                    <div class="item">
                        <input type="checkbox" name="list" value=<%= listofitems[i]._id %>  onChange = "this.form.submit()">
                        <p><%= listofitems[i].name %></p>
                    </div>
                    <input type="hidden" name="listName" value="<%= listTitle %>">
                </form>
                
            <% } %>

            <form class="item" action="/" method="post">
                <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
                <button type="submit" name="list" value=<%= listTitle %>>+</button>
            </form>        

    </div>
    
<%- include("footer") -%>
    
    
